<div class="form_header_info_block">
				<h2 class="form_header_title">
					<%= t('.calligraphy') %>
          <img src=<%= image_path("common/spring_icon.png") %> alt="<%= t('.calligraphy') %>">
				</h2>
				<%= render 'components/form_step_list' %>
			</div>